@import "../../../../styles/var";
@import "../../../../styles/container";
.banner {
  position: relative;
  z-index: 5;
  padding-top: 170px;
  padding-bottom: 400px;
  @media (max-width: $md1+px) {
    padding-top: 100px;
    padding-bottom: 340px;
  }
  @media (max-width: $md2+px) {
    padding-bottom: 200px;
  }
  @media (max-width: $md5+px) {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  @media (max-width: $md6+px) {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .title {
    position: relative;
    z-index: 5;
    max-width: 750px;
    @media (max-width: $md4+px) {
      max-width: 450px;
    }
    @media (max-width: $md6+px) {
      max-width: 270px;
    }
  }
  .text {
    position: relative;
    z-index: 5;
    margin: 30px 0 50px 0;
    max-width: 565px;
    @media (max-width: $md4+px) {
      max-width: 500px;
      margin: 20px 0 40px 0;
    }
    @media (max-width: $md6+px) {
      max-width: 340px;
      margin: 15px 0 30px 0;
    }
  }
  .btn {
    position: relative;
    z-index: 5;
  }
  .whale {
    pointer-events: none;
    position: absolute;
    z-index: 20;
    top: 50px;
    right: calc(50% - 1232px / 2 - 200px);
    width: 800px;
    @media (max-width: $md1+px) {
      width: 555px;
      right: calc(50% - 1000px / 2 - 150px);
      top: 120px;
    }
    @media (max-width: $md2+px) {
      width: 524px;
      right: calc(50% - 800px / 2 - 200px);
      top: 120px;
    }
    @media (max-width: $md3+px) {
      width: 410px;
      right: calc(50% - 600px / 2 - 200px);
      top: 200px;
    }
    @media (max-width: $md4+px) {
      right: calc(50% - 600px / 2 - 100px);
      top: 160px;
    }
    @media (max-width: $md5+px) {
      position: relative;
      top: unset;
      right: unset;
      display: flex;
      margin: -80px auto 0 auto;
      width: 85%;
    }
    @media (max-width: $md6+px) {
      margin-top: 20px;
    }
  }
}
:global(body.ar) {
  .whale {
    pointer-events: none;
    position: absolute;
    z-index: 20;

    top: 0;
    right: unset;
    left: calc(50% - 1232px / 2 - 200px);
    width: 1232px;

    @media (max-width: $md1+px) {
      width: 1000px;
      left: calc(50% - 1000px / 2 - 150px);
      top: 50px;
    }
    @media (max-width: $md2+px) {
      width: 800px;
      left: calc(50% - 800px / 2 - 200px);
      top: 80px;
    }
    @media (max-width: $md3+px) {
      width: 600px;
      left: calc(50% - 600px / 2 - 200px);
      top: 200px;
      transform: scaleX(-1);
    }
    @media (max-width: $md4+px) {
      left: calc(50% - 600px / 2 - 100px);
      top: 160px;
    }
    @media (max-width: $md5+px) {
      position: relative;
      top: unset;
      left: unset;
      display: flex;
      margin: -80px auto 0 auto;
      width: 100%;
    }
    @media (max-width: $md6+px) {
      margin-top: -40px;
    }
  }
}
:global(body.black) {
  .text {
    color: #fff;
  }
  .title {
    background-clip: text;
  }
}
